body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222222;
    text-align: center;
    min-width: 720px;
    max-width: 1200px;
    margin: 10px auto 25px auto;
}

.wrapper {
    border: 2px double hsla(0, 100%, 100%, 0.8);
    padding: 20px;
    font-size: 80%;
}

.center {
    text-align: center;
    margin: 3px auto 3px auto;
}

.navigation li {
    display: inline;
}

/* .navigation li a {
    background-color: hsla(0, 100, 25%, 0.8);
    color: hsla(0, 100, 25%, 0.8);
} */

.nav-button {
    text-decoration: none;
    font-size: 120%;
    padding: 3px 15px 3px 15px;
    border: 2px double hsla(0, 100%, 100%, 0.8);
    color: hsla(0, 100%, 100%, 0.8);
}

a.nav-button:active {
    background-color: hsla(0, 100%, 100%, 0.8);
    color: #222222;
    border-color: #000000;
}


section {
    color: hsla(0, 100%, 100%, 0.8);
}

h1, h2, h3 {
    text-transform: uppercase;
}
